<h2>Edit Itinerary for Trip </h2>


<%= render 'errors' %>
<%=form_for @itinerary do |f| %>
<%= f.label :trip_id %> <%= f.collection_select(:trip_id, Trip.all, :id, :name) %><br>
<%= f.label :activity_id %> <br>
<%= f.collection_check_boxes(:activity_id, Activity.all, :id, :name) %><br>
Day: <%=f.text_field :day %> <br>

<%=f.submit%>
<%end%>
