<h2>Create Itinerary for Trip </h2>


<%=form_for @itinerary do |f| %>
Name this Itinerary:<%=f.text_field :day %> <br>

<%= f.label :trip_id %> <%= f.collection_select(:trip_id, Trip.all, :id, :day) %><br>

<%=f.submit%>
<%end%>
