<h2>Itinerary for Day <%=@itinerary.day%> <%=link_to @itinerary.trip.destination, @itinerary.trip%> </h2>


Activity: <%= @itinerary.activity.name %><br>
<br>
<br>
<%= link_to "Edit Itinerary Details", edit_itinerary_path(@itinerary) %> <br>
<%= link_to "Add Another Itinerary", new_itinerary_path %>
<br>
<br>
<%= form_tag @trip, method: "delete" do %>
  <%= submit_tag "Delete Itinerary" %>
<% end %>
<br>
<br>
