<h1>Need to update some trip details?</h1>

<%= form_for @trip do |f| %>
<%= render 'errors' %>
<%= f.label :name %> <%= f.text_field :name %><br>
<%= f.label :destination %> <%= f.text_field :destination %><br>

<%= f.submit %>
<% end %>
