<h1><%= @trip.name %><br></h1>

Destination: <%= @trip.destination %>
<br>
<% if @trip.itineraries.count == 0 %>
You haven't created any itineraries yet for this trip. Click here to get started! <br> <%= link_to 'Create New Itinerary', new_itinerary_path%>
<%else%>
<%@trip.itineraries.each do |i| %>
Click <%=link_to 'HERE', i%> for Itineray: Day
<%=i.day%>
<%end%>
<%end%>
<br>
<br>
<br>

<h2><%=@trip.name%> Photos</h2>
<%@trip.photos.each do |p| %>

<%= image_tag p.image %><br>
<%=p.description%> <%p.trip_id%><br>
<%end %>








<%= link_to "Edit Trip Details", edit_trip_path(@trip) %>
<br>
<br>
<%= form_tag @trip, method: "delete" do %>
  <%= submit_tag "Delete Trip" %>
<% end %>
<br>
<br>

<%= link_to "View All My Trips", trips_path %>
