<h2>Current User: <%=@user.username%></h2>


<br>

<h3>Your Trips</h3>
<%if @user.trips.count ==0 %>
You have no trips yet! Click here to create a new trip: <%=link_to 'Create New Trip', new_trip_path%>
<%else%>
<br>
<%@user.trips.each do |t|%>
<h4><%=t.name%></h4>
Destination:  <%=t.destination%> <br>
<%=link_to 'Click to View Itineraries for Trip', t%>
<%end%>

<%end %>
