<ul class="field_with_errors">
  <% if @activity.errors.any? %>
     <% @activity.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     <% end %>
</ul>
<%= form_for @activity do |f| %>
Activity name:<%=f.text_field :name %> <br>
Activity description:<%=f.text_field :description %> <br>
Add to Trip Itinerary:
  <%= f.collection_check_boxes :itinerary_ids, Itinerary.all, :id, :day %>

  <%= f.submit %>
<% end %>
