<h2>Edit Activity</h2>


<%= form_for @activity do |f| %>
Activity name:<%=f.text_field :name %> <br>
Activity description:<%=f.text_field :description %> <br>
Add to Trip:
  <%= f.collection_select :trip_name, Trip.all, :id, :name %>

  <%= f.submit %>
<% end %>
