

<html lang="en">
  <head>
    <title>TripPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <header class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Welcome", root_path, class: "navbar-brand" %>

        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Trips", trips_path %></li>
            <li><%= link_to "Itineraries", itineraries_path %></li>
            <li><%= link_to "Activities", activities_path %></li>
              <li><%= link_to "Photos", photos_path %></li>
              <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>



        </ul>
      </div>
    </nav>
  </header>



  <%=yield %>

 <br><br> <br> <br> <br>
<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">Oh, the places you'll go!</h5>
        <p>-Dr. Suess</p>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.dccomics.com/characters/batman"> swaBATmans</a>
  </div>
</footer>
