<!DOCTYPE html>
<html>
  <head>
    <title>TripPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="field_with_errors">
    <% if @trip.errors.any? %>
       <% @trip.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
